/* Test 2 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   
    font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
}


.heading {
    text-align: left;
    font-size: 48px;
    margin: 10px 0px 0px 55px   ;
}

.product-grid {
    margin-top: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.product-card {
    background: #ffff;
    border-radius: 14px;
    padding: 12px;
    text-align: left;
    
}

.product-img {
    background: #f1f1f1;
    border-radius: 12px;
    padding: 2px;
    text-align: center;
}

.product-img img {
    width: 290px;
   
    
}

.rating {
    margin-top: 15px;
    color: #ffa600;
     
}



.rating span {
    color:#1a1a1a;
    
}

.price {
    color: #d22;
    font-size: 18px;
    font-weight: bold;
}

.old-price {
    color: #888;
    text-decoration: line-through;
    margin-left: 5px;
}

.btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #000;
    background: linear-gradient(to right, #000000 50%, #ffffff 50%);
    background-size: 200%;
    background-position: right;
    cursor: pointer;
    font-weight: 600;
    transition: background-position 0.4s ease, color 0.4s ease;
    color: #000;
}

.btn:hover {
    background-position: left;
    color: #fff;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    width: 500px;
    max-height: 70vh;
    padding: 20px;
    border-radius: 14px;
    overflow-y: auto;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}

.modal-scroll {
    max-height: 40vh;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 10px;
}


/* Test Two */


.section {
    background: #ac0000;
    color: #fff;   
    padding: 75px 127px 75px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 127px;
    
}

.left {
   
    width: 50%;
}

.left img {
    width: 105%;
    border-radius: 22px;
    
}


.right {
    width: 50%;
}

.right h1 {
    font-size: 48px;
    margin-bottom: 18px;
    line-height: 1;
    font-weight: 700;
}

.right p {
    margin-bottom: 18px;
    line-height: 1.4;
    font-size: 16px;
}


.cta-btn {
    margin-top: 35px;
    padding: 14px 120px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #fff;
    color: #2b2b2b;  
    text-decoration: none;
    background: linear-gradient(to right, #2b2b2b 50%, #ffffff 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.4s ease, color 0.4s ease;
   
}

.cta-btn:hover {
    background-position: left;
    color: #fff;
}

@media (max-width: 900px) {
    .section {
        flex-direction: column;
        text-align: center;
    }

    .left,
    .right {
        width: 100%;
    }

    .right h1 {
        font-size: 32px;
    }
}


/* Test 3 */


.testimonial {
    text-align: center;
    padding: 50px 0;
    background: #1f1f1f;
    color: #fff;
    margin-top: 60px;
}

h2 {
    font-size: 32px;
    margin-bottom: 40px;
}





.cards {
    display: flex;
    gap: 20px;
    animation: stepScroll 12s steps(4) infinite;
}


.card {
    min-width: 350px;
    background: #1f1f1f;
    color: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 25px;
    box-sizing: content-box;
    text-align: left;
    
    
    
}

.stars {
    color: #fcc032;
   
    margin-bottom: 15px;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.user h4 {
    margin: 0;
    font-size: 16px;
}

.user span {
    font-size: 13px;
    color: #aaa;
}


@keyframes stepScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-380px);
    }
}



.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.review-btn {
    position: relative;
    padding: 15px 92px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 30px;
    background: #fff;
    color: #1f1f1f;
    border: 1px solid transparent;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s ease, border 0.4s ease;
}


.review-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, black 0%, black 100%);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}


.review-btn:hover {
    color: #fff;
    border: 1px solid #fff;
}

.review-btn:hover::before {
    transform: scaleX(1);
}
